body {
  width: 1200px;
  height: auto;
  margin: 0 auto 5%;
  font-family: 'Lobster', cursive;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.bali-img {
  width: 10%;
  height: auto;
}

.girl-img {
  width: 100%;
  height: auto;
  display: block;
  background-color: rgb(215, 215, 209);
}

.girl-card {
  border-radius: 20px;
  position: relative;
  display: inline-block;
  margin: 3%;
  width: 20%;
  overflow: hidden;
}

.person {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(80, 97, 115);
  background-color: rgb(215, 215, 209);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.card-girls {
  background-color: #616875c8;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3%;
}

.card-girls p {
  color: #e3e30a;
  font-size: 20px;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.card-girls h1 {
  text-align: center;
  color: rgb(46, 177, 194);
}

header {
  background-color: #333;
  border-radius: 10px;
  color: rgb(46, 95, 194);
  text-align: center;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(207, 207, 207);
}

main {
  padding: 20px;
}

.table {
  margin: 5% auto 0;
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
  box-shadow: 0 2px 3px rgba(221, 212, 212, 0.76);
}

th {
  background-color: #333;
  color: rgb(198, 194, 181);
  text-transform: uppercase;
}

td {
  margin: 20px;
  padding: 12px 15px;
}

tr:nth-child(odd) td {
  background-color: #f3f4f69d;
}

tr:nth-child(even) td {
  background-color: #92959a;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.forma {
  background-color: #aea9a979;
  text-align: center;
  margin: 10px auto 10px 0;
  padding: 20px;
  width: 40%;
  max-width: 400px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.forma h3,
form {
  color: #1f221e;
}

form label {
  display: block;
  text-align: left; 
  margin-bottom: 5px;
}

form input {
  display: block;
  width: 95%;
  margin-bottom: 10px;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

form button:hover {
  background-color: #8d8888;
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #8d8888;
}

footer {
  text-align: center;
  background-color: #333;
  border-radius: 10px;
  color: white;
  padding: 10px 0;
}
