{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <img
          src="{% static 'img/bali.png' %}"
          class="bali-img"
          alt="Логотип Бали"
        />
        <h1>Добро пожаловать на Бали</h1>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'about' %}">О нас</a></li>
          <li><a href="{% url 'main' %}">Главная</a></li>
          <li><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>
      </nav>
    </header>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>© 2024 Мой сайт</p>
    </footer>
  </body>
</html>
